:root{
    --primary-text-color:#757575;
    --secondary-text-color:#FFFFFF;
    --accent-color:#2196F3;
    --primary-background:#FFFFFF;
    --secondary-background:#2F303A;
    --titles-color:#212121; 
    }

/* global */

.page{
    background-color:var(--primary-background);
    color: var(--primary-text-color);
}
ul{
    list-style: none;
}    
a{
    text-decoration: none;
}

/* Header */

    /* logo */

.logo{
    color: #000000;
}
.logo-blue{
    color: #2196F3;}

    /* site-nav */
.site-nav .link-nav.current{
    color: #2196F3;
}

.site-nav .link-nav{
    color: #212121;
}
.site-nav .link-nav:hover,
.site-nav .link-nav:focus{
    color: #2196F3;
}

    /* connection */
.connection .link{
    color: #757575;
}

.connection .link:hover,
.connection .link:focus{
    color: #2196F3;
}

/* Main */

.hero{
    background-color: var(--secondary-background);
}
/* Hero */

.hero .title {
    color:#FFFFFF;
 }
 .hero .button {
    background-color:var(--accent-color) ;
    color: var(--secondary-text-color);
 }
 /* Festure */

 .feature .title{
    color: #212121;
 }

 /* What do we do */

 .work-title{
    color: #212121;
 }

 /* Our ream */

 .team-title{
    color: #212121;
 }
 .team .name{
    color: #212121;
 }

 /* Footer */

 .footer{
    background-color: var(--secondary-background);
 }
 .logo-white{
    color: var(--secondary-text-color);
 }
 .address{
    color: var(--primary-text-color);
 }

 .address .location{
    color: var(--secondary-text-color);
 }
.address .link{
    color: var(--primary-text-color);
}


/* Portfolio */

/* Buttons section */
.title-button .button{
color: #212121;
background-color: #F5F4FA;
}
.title-button .button:hover,
.title-button .button:focus{
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
}
/* Projects section */

.project h3{
    color: var(--titles-color);
}



